html, body {
    margin: 0;
    background: var(--color-secondary);
    height: 100%;
}

.body-login {
    display: flex;
    flex-direction: column-reverse;
    height: 70%;

    .logo
    {
        padding: 2.8rem 0;
    }
}

form {
    text-align: center;
    font-family: var(--font-primary);
    padding: var(--padding-body);
    
    h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        font-size: var(--sz-big);
        color: var(--color-white);
    }

    .row {
        display: flex;
        align-items: flex-start;
        align-content: center;
        border-bottom: 0.5px solid var(--color-lighter);
        font-size: var(--sz-under-medium);
        margin-top: 40px;
        padding-bottom: 5px;
        
        label {
            width: 30px;
        }

        input {
            width: 100%;
            font-family: var(--font-primary);
            background: transparent;
            border: none;
            outline: none;
            font-size: var(--sz-small);
            color: var(--color-white);
            padding: 0;
            margin: 0;
        }
    }

    .forgot-password {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20px;
        a {
            text-decoration: none;
            color: var(--color-white);
            font-size: var(--sz-small);
        }
    }

    button {
        background: var(--color-white);
        border-radius: var(--border-radius-normal);
        width: 100%;
        font-weight: 600;
        padding: 1rem;
        margin-top: 40px;
        font-size: var(--sz-under-medium);
    }
}

.register  {
    width: 100%;
    height: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
        font-family: var(--font-primary);
        color: var(--color-white);
        font-size: var(--sz-small);
    }
}

/* media screen */
@media screen and (min-width: 640px)
{
    .body-login
    {
        form
        {
            text-align: center;
            width: 30%;
        }
    }

    
}        

/* pop up styling */
.popups
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 36px;
    margin: 2rem 0;

    .single-popup
    {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 517px;
        height: 257px;
        background-color: #fff;
        border-radius: 23px;
        gap: 20px;
        padding: 1.2rem 0;

        .popup-header
        {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            width: 88%;;
        }

        h3
        {
            font-family: var(--font-primary);
            font-style: normal;
            font-weight: 600;
            font-size: var(--sz-large);
            text-align: center;
            letter-spacing: -0.015em;
            color: var(--color-secondary);
            margin: 0;

            span{
                font-family: var(--font-primary);
                font-size: var(--sz-large);
                font-weight: 900;
                letter-spacing: -0.015em;
                color: var(--color-theme);
            }
        }

        .X
        {
            font-family: var(--font-primary);
            font-size: var(--sz-large);
            font-weight: 700;
            letter-spacing: -0.015em;
            color: var(--color-theme);
        }

        .border-behind
        {
            font-family: var(--font-primary);
            width: 100%;
            height: 257px;
            z-index: -1;
            border: solid 1px var(--color-white);
            border-radius: 23px;
            position: absolute;
            top: -10px;
            left: -10px;
        }

        p
        {
            font-family: var(--font-primary);
            font-weight: 500;
            font-size: var(--sz-big);
            letter-spacing: -0.015em;
            color: var(--color-light);
        }
        .discover-group
        {
            display: flex;

            .button
            {
                padding: 1.35rem 2.4rem;
                border-radius: 25px;
                background: var(--color-theme);
                font-family: var(--font-primary);
                font-weight: 500;
                font-size: var(--sz-big);
                letter-spacing: -0.015em;
                color: var(--color-white);
                border: none;
                transition: .5s ease;
                text-decoration: none;        
                
                &:hover
                {
                    background-color: var(--color-extra-lighter);
                    color: var(--color-theme);
                    transition: .5s ease;
                }
            }
        }


        /* social media popup */

        .social-media-group
        {
            display: flex;
            flex-direction: row;
            gap: 50px;

            a
            {
                padding: 1rem;
                border: 1px solid var(--color-extra-lighter);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: .5s ease;

                &:hover
                {
                    transition: .5s ease;
                    background-color: var(--color-theme);
                }
            }
            
        }

        .hovered
        {
            display: none;
        }
        
        .copy-url
        {
            display: flex;
            align-items: center;
            width: 240px;

            input
            {
                padding: 0 4rem 0 1rem;
                height: 52px;
                background: #F6FAFD;
                border-radius: 16px;
                outline: none; 
                border: none;
                font-family: var(--font-primary);
                font-size: var(--sz-small);
                font-weight: 400;
                transition: .5s ease;

                &::placeholder
                {
                    transition: .5s ease;
                }

                &:hover
                {                    
                    background-color: var(--color-extra-lighter);
                    transition: .5s ease;

                    &::placeholder
                    {
                        color: var(--color-theme);
                    }
                }
            }

            .button-copy
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 39px;
                height: 37.14px;
                padding: 0 .5rem;
                background: var(--color-white);
                border-radius: 6px;
                margin-left: -45px;
                transition: .5s ease;

                img
                {
                    color: #fff;
                }

                &:hover
                {
                    background-color: var(--color-theme);
                    transition: .5s ease;
                    
                    .unhovered
                    {
                        display: none;
                    }

                    .hovered
                    {
                        display: block;
                    }
                }
            }


        }
    }
}