.body-top {
  background: -webkit-gradient(linear, left top, left bottom, from(#203354), color-stop(39.31%, #203354), color-stop(28.32%, #f8f8f8));
  background: linear-gradient(180deg, #203354 0%, #203354 39.31%, #f8f8f8 28.32%);
}

.body-top .side-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: var(--color-true-white);
  position: absolute;
  top: 0;
  z-index: 100;
  min-height: 1202px;
  height: 100vh;
  display: none;
}

.body-top .side-menu.show {
  -webkit-transition: .9s ease;
  transition: .9s ease;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-top .side-menu.hide {
  -webkit-transition: .9s ease;
  transition: .9s ease;
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.body-top .side-menu .row a {
  -ms-flex-item-align: self-start;
      align-self: self-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: .7rem;
  width: 45px;
  height: 45px;
  top: 5px;
  right: 5px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.body-top .side-menu .row a svg {
  width: 45px;
  height: 45px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.body-top .side-menu .row a svg path {
  fill: var(--color-secondary);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.body-top .side-menu .row a:hover svg {
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.body-top .side-menu .row a:hover svg path {
  fill: var(--color-theme);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.body-top .side-menu .container {
  padding: 1rem calc(var(--padding-body) + 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-top .side-menu .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 30px;
}

.body-top .side-menu .container form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.body-top .side-menu .container form .row h4 {
  color: var(--color-theme);
  font-family: Inter;
  font-size: calc(var(--sz-large) - 5px);
  font-weight: 600;
}

.body-top .side-menu .container form .row .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-top .side-menu .container form .row .location span {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--sz-medium);
  color: var(--color-secondary);
}

.body-top .side-menu .container form .row .cont {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-top .side-menu .container form .row .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 45px;
}

.body-top .side-menu .container form .row .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3.14px;
  border-radius: 16px;
  background: var(--color-theme-light);
  outline: none;
}

.body-top .side-menu .container form .row .slider:hover {
  cursor: pointer;
}

.body-top .side-menu .container form .row .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  background: var(--color-theme);
  cursor: pointer;
}

.body-top .side-menu .container form .row .search {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-top .side-menu .container form .row .search h1 {
  font-family: var(--font-primary);
  color: var(--color-theme);
  font-size: var(--sz-large);
}

.body-top .side-menu .container form .row .search input {
  border-radius: var(--border-radius-round);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-theme-light);
  font-family: var(--font-primary);
  font-size: var(--sz-big);
  padding: calc(var(--padding-body) - .5rem);
  height: 25px;
  width: 100%;
  border: none;
  outline: none;
}

.body-top .side-menu .container form .row .search ::-webkit-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

.body-top .side-menu .container form .row .search :-ms-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

.body-top .side-menu .container form .row .search ::-ms-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

.body-top .side-menu .container form .row .search ::placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

.body-top .side-menu .container form .row .price {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-top .side-menu .container form .row .price h1 {
  font-family: var(--font-primary);
  color: var(--color-theme);
  font-size: var(--sz-large);
}

.body-top .side-menu .container form .row .price input {
  border-radius: var(--border-radius-round);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-theme-light);
  color: var(--color-theme);
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--sz-big);
  padding: calc(var(--padding-body) - .2rem);
  height: 25px;
  width: 40%;
  border: none;
  outline: none;
}

.body-top .side-menu .container form .row .price ::-webkit-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

.body-top .side-menu .container form .row .price :-ms-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

.body-top .side-menu .container form .row .price ::-ms-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

.body-top .side-menu .container form .row .price ::placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}

/* ------------------------------------
            Header
------------------------------------*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-theme);
  z-index: 1000;
}

header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .login .btn-login {
  font-family: var(--font-primary);
  font-size: var(--sz-under-medium);
  font-weight: 500;
  background: var(--color-theme);
  border: 1.8px solid var(--color-theme);
  padding: .65rem 1.8rem;
  text-decoration: none;
  color: var(--color-true-white);
  border-radius: var(--border-radius-normal);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .login .btn-login:hover {
  color: var(--color-theme);
  background-color: var(--color-theme-secondary);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .login .btn-signup {
  font-family: var(--font-primary);
  font-size: var(--sz-under-medium);
  font-weight: 500;
  background: none;
  text-decoration: none;
  border: 1.8px solid var(--color-theme);
  padding: .65rem 1.4rem;
  color: var(--color-theme);
  border-radius: var(--border-radius-normal);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .login .btn-signup:hover {
  color: var(--color-true-white);
  background-color: var(--color-theme);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .5 ease;
  transition: .5 ease;
}

header .user .dropdown {
  background: var(--color-true-white);
  width: 200px;
  height: 400px;
  position: absolute;
  top: 65px;
  right: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  border: solid 0.18rem var(--color-true-white);
  height: 0;
  display: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .user .dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 2rem;
  padding-top: .1rem;
  margin: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .user .dropdown ul li {
  border-top: solid 1px var(--color-theme-light);
  list-style: none;
  padding-top: 1rem;
}

header .user .dropdown ul li:nth-child(1) {
  border-top: none;
}

header .user .dropdown ul li a {
  font-weight: 500;
  font-size: var(--sz-small);
  font-family: var(--font-primary);
  color: var(--color-lighter);
  text-decoration: none;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .user .dropdown ul li a:hover {
  color: var(--color-theme);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

header .user span {
  font-family: var(--font-primary);
  color: var(--color-true-white);
  font-size: calc(var(--sz-extra-small));
  font-weight: 700;
  max-width: 88px;
  width: 100%;
}

header .user a svg path {
  fill: var(--color-true-white);
}

header nav {
  z-index: 1000;
}

header nav ul.links {
  display: none;
}

/* ------------------------------------
            Search
------------------------------------*/
.search {
  padding: 0 var(--padding-body);
}

.search h1 {
  font-family: var(--font-primary);
  color: var(--color-white);
  font-size: var(--sz-big);
  margin: 0;
  margin-bottom: .7rem;
}

.search form {
  background: rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius-normal);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
  margin: auto;
}

.search form input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: var(--font-primary);
  font-size: var(--sz-small);
}

.search form input::-webkit-input-placeholder {
  color: var(--color-white);
  font-size: var(--sz-extra-small);
}

.search form input:-ms-input-placeholder {
  color: var(--color-white);
  font-size: var(--sz-extra-small);
}

.search form input::-ms-input-placeholder {
  color: var(--color-white);
  font-size: var(--sz-extra-small);
}

.search form input::placeholder {
  color: var(--color-white);
  font-size: var(--sz-extra-small);
}

.search form a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-theme-light);
  padding: 0.2rem calc(var(--padding-body) - .8rem);
  margin-right: 10px;
  gap: 5px;
  text-decoration: none;
  color: var(--color-theme);
  font-family: var(--font-primary);
  font-size: var(--sz-extra-small);
  font-weight: 500;
  border-radius: var(--border-radius-normal);
}

.search form a svg {
  width: 70%;
}

.search button {
  background: transparent;
  border: none;
}

.search button svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search button svg path {
  fill: var(--color-true-white);
}

/* ------------------------------------
            Popular events
------------------------------------*/
.popular-events {
  /*----- card -----*/
}

.popular-events .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 var(--padding-body);
}

.popular-events .header h4 {
  font-family: var(--font-primary);
  color: var(--color-white);
  font-size: var(--sz-under-medium);
}

.popular-events .header a {
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--color-white);
  font-size: calc(var(--sz-small) - 2px);
}

.popular-events .card-horizental-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  /*width: 200%;*/
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 0 1.2rem 0;
}

.popular-events .card {
  background: var(--color-true-white);
  width: var(--card-width);
  border-radius: var(--border-radius-normal);
  padding: 10px;
  margin: 0 20px;
  -webkit-box-shadow: 2px 17px 14px -21px rgba(0, 0, 0, 0.18);
          box-shadow: 2px 17px 14px -21px rgba(0, 0, 0, 0.18);
}

.popular-events .card .image {
  width: 100%;
  height: 162px;
  border-radius: var(--border-radius-normal);
  overflow: hidden;
  position: relative;
}

.popular-events .card .image img.preview {
  width: 100%;
  background-color: var(--color-theme);
}

.popular-events .card .image .bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popular-events .card .image .date {
  background-color: var(--color-theme);
  border-radius: var(--border-radius-round);
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-primary);
  font-size: var(--sz-extra-small);
  border: 3px solid var(--color-white);
  padding: 4px 20px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popular-events .card .details .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.popular-events .card .details .row .titles {
  font-family: var(--font-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-events .card .details .row .titles .title {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--sz-small);
}

.popular-events .card .details .row .titles .promoter {
  font-size: calc(var(--sz-extra-small) - 2px);
  color: var(--color-lighter);
}

.popular-events .card .details .row .duration span {
  font-size: var(--sz-extra-small);
  color: var(--color-lighter);
}

.popular-events .card .details .row .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-events .card .details .row .location img {
  width: 8px;
}

.popular-events .card .details .row .location span {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-size: var(--sz-extra-small);
  padding-left: 5px;
  font-weight: 300;
}

.popular-events .card .details .row .price span {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-size: var(--sz-extra-small);
}

/* ------------------------------------
            Categories
------------------------------------*/
.event-categories .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 var(--padding-body);
}

.event-categories .header h4 {
  font-family: var(--font-primary);
  color: var(--color-black);
  font-size: var(--sz-under-medium);
}

.event-categories .header a {
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--color-black);
  font-size: calc(var(--sz-small) - 2px);
}

.event-categories .category-horizental-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*width: 200%;*/
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 0 1.2rem 0;
}

.event-categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-true-white);
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-primary);
  font-size: var(--sz-extra-small);
  padding: 10px 15px;
  margin: 0 20px;
  justify-self: center;
  border-radius: var(--border-radius-round);
}

.event-categories .category span {
  padding-left: 5px;
}

/* ------------------------------------
            Join us
------------------------------------*/
.join {
  text-align: center;
  font-family: var(--font-primary);
  padding: 40px 0;
}

.join .option h2 {
  font-size: var(--sz-big);
  color: var(--color-theme);
  margin: 0;
  padding: 0;
}

.join .option h4 {
  font-weight: 400;
  color: var(--color-lighter);
  margin: 0;
  padding: 0;
}

.join .option .join-button {
  background-color: var(--color-theme);
  font-weight: 500;
  font-family: var(--font-primary);
  text-decoration: none;
  color: var(--color-white);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: var(--border-radius-normal);
  margin: 0 var(--padding-body);
  margin-top: 7px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 20px;
}

.join .option h5 {
  font-weight: 400;
  font-size: var(--sz-small);
  color: var(--color-lighter);
}

.join .option h5 strong {
  color: var(--color-green);
}

@media screen and (min-width: 640px) {
  header {
    padding: 0.8rem 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo svg {
    width: 90%;
  }
  header .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 21%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .user .dropdown {
    background: var(--color-true-white);
    width: 200px;
    position: absolute;
    top: 65px;
    right: 29px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1000;
    border: solid 0.18rem var(--color-theme-secondary);
    height: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  header .user .dropdown.drop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    height: 250px;
  }
  header .user .dropdown.hide {
    display: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    height: 0;
  }
  header .user .dropdown ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 1.5rem;
    margin: 0;
  }
  header .user .dropdown ul li {
    border-top: solid 1px var(--color-theme-light);
    list-style: none;
    padding: 0 !important;
  }
  header .user .dropdown ul li:nth-child(1) {
    border-top: none;
  }
  header .user .dropdown ul li a {
    font-weight: 500;
    font-size: var(--sz-small);
    font-family: var(--font-primary);
    color: var(--color-lighter);
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  header .user .dropdown ul li a:hover {
    color: var(--color-theme);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  header .user span {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: calc(var(--sz-small) - .15rem);
    font-weight: 700;
    max-width: 94px;
    width: 100%;
  }
  header .user a {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .user a svg path {
    fill: var(--color-theme);
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  header nav ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul li a {
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 500;
    color: #181e27aa;
    font-size: calc(var(--sz-big));
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  header nav ul li a.active {
    color: var(--color-theme);
    font-weight: 700;
  }
  header nav ul li a:hover {
    color: var(--color-theme);
    font-weight: 700;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .body-top {
    background: var(--color-theme-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body-top .event-container {
    width: 100%;
    padding: 0 calc(var(--padding-body-lg) + 2rem);
  }
  .body-top .side-menu {
    margin-top: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 35%;
    background-color: var(--color-true-white);
    position: absolute;
    z-index: 100;
    min-height: 1202px;
    height: 100vh;
    -webkit-transition: .9s ease;
    transition: .9s ease;
    display: none;
  }
  .body-top .side-menu.show {
    -webkit-transition: .9s ease;
    transition: .9s ease;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body-top .side-menu.hide {
    -webkit-transition: .9s ease;
    transition: .9s ease;
    -webkit-transform: translateX(-600px);
            transform: translateX(-600px);
  }
  .body-top .side-menu .row a {
    -ms-flex-item-align: self-start;
        align-self: self-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    padding: .7rem;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 5px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .body-top .side-menu .row a svg {
    width: 45px;
    height: 45px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .body-top .side-menu .row a svg path {
    fill: var(--color-secondary);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .body-top .side-menu .row a:hover svg {
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .body-top .side-menu .row a:hover svg path {
    fill: var(--color-theme);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .body-top .side-menu .container {
    padding: 1rem calc(var(--padding-body) + 2rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body-top .side-menu .container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .body-top .side-menu .container form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .body-top .side-menu .container form .row .ui-widget.ui-widget-content {
    margin-top: 2rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 3.14px;
    border-radius: 16px;
    background: var(--color-theme-light);
    outline: none;
    border: none;
  }
  .body-top .side-menu .container form .row .ui-widget.ui-widget-content span.ui-slider-handle.ui-corner-all.ui-state-default {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color-theme);
    cursor: pointer;
    top: -13px;
    border: none;
    border-radius: 0;
    outline: none;
  }
  .body-top .side-menu .container form .row .ui-widget.ui-widget-content .ui-slider-range.ui-corner-all.ui-widget-header {
    background-color: var(--color-theme);
    height: 8px;
    border: none;
    top: -3px;
  }
  .body-top .side-menu .container form .row h4 {
    color: var(--color-theme);
    font-family: Inter;
    font-size: calc(var(--sz-large) - 5px);
    font-weight: 600;
  }
  .body-top .side-menu .container form .row .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body-top .side-menu .container form .row .location span {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: var(--sz-medium);
    color: var(--color-secondary);
  }
  .body-top .side-menu .container form .row .cont {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-top .side-menu .container form .row .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 45px;
  }
  .body-top .side-menu .container form .row .slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 3.14px;
    border-radius: 16px;
    background: var(--color-theme-light);
    outline: none;
  }
  .body-top .side-menu .container form .row .slider:hover {
    cursor: pointer;
  }
  .body-top .side-menu .container form .row .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color-theme);
    cursor: pointer;
  }
  .body-top .side-menu .container form .row .search {
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body-top .side-menu .container form .row .search h1 {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: var(--sz-large);
  }
  .body-top .side-menu .container form .row .search input {
    border-radius: var(--border-radius-round);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--color-theme-light);
    font-family: var(--font-primary);
    font-size: var(--sz-big);
    padding: calc(var(--padding-body) - .5rem);
    height: 25px;
    width: 100%;
    border: none;
    outline: none;
  }
  .body-top .side-menu .container form .row .search ::-webkit-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .search :-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .search ::-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .search ::placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .price {
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body-top .side-menu .container form .row .price h1 {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: var(--sz-large);
  }
  .body-top .side-menu .container form .row .price input {
    border-radius: var(--border-radius-round);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--color-theme-light);
    color: var(--color-theme);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: var(--sz-big);
    padding: calc(var(--padding-body) - .2rem);
    height: 25px;
    width: 40%;
    border: none;
    outline: none;
  }
  .body-top .side-menu .container form .row .price ::-webkit-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .price :-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .price ::-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .price ::placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search {
    margin: 0;
    padding: 0;
  }
  .body-top .search h1 {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: var(--sz-large);
    margin: 1rem 0;
  }
  .body-top .search form {
    background-color: var(--color-true-white);
  }
  .body-top .search form input {
    font-family: var(--font-primary);
    font-size: var(--sz-big);
    height: 25px;
    padding: 0;
  }
  .body-top .search form ::-webkit-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search form :-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search form ::-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search form ::placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search form a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--color-theme-light);
    padding: calc(var(--padding-body) - .2rem);
    margin-right: 10px;
    gap: 5px;
    text-decoration: none;
    color: var(--color-theme);
    font-family: var(--font-primary);
    font-size: var(--sz-medium);
    font-weight: 500;
    border-radius: var(--border-radius-normal);
  }
  .body-top .search form a svg {
    width: 60%;
  }
  .body-top .search button svg path {
    fill: var(--color-theme);
  }
  /* ------------------------------------
                Popular events
    ------------------------------------*/
  .popular-events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    /*----- card -----*/
  }
  .popular-events .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .popular-events .header h4 {
    font-size: var(--sz-medium);
    color: var(--color-theme);
  }
  .popular-events .header a {
    text-decoration: none;
    font-weight: 500;
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: calc(var(--sz-medium) - 2px);
    background-color: var(--color-true-white);
    border-radius: var(--border-radius-normal);
    padding: 0.8rem var(--padding-body);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .popular-events .header a:hover {
    background-color: var(--color-secondary);
    color: var(--color-theme-light);
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .popular-events .card-horizental-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
    overflow: unset;
    white-space: nowrap;
    padding: 0 0 1.2rem 0;
  }
  .popular-events .card-horizental-container .card-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popular-events .card-horizental-container .card-container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 93%;
    margin: 0;
  }
  .popular-events .card-horizental-container .card-container .card .image .bookmark img {
    width: 35px;
  }
  .popular-events .card-horizental-container .card-container .card .details {
    gap: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popular-events .card-horizental-container .card-container .card .details .row .titles .title {
    font-size: var(--sz-under-medium);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .titles .promoter {
    font-size: var(--sz-small);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .duration span {
    font-size: var(--sz-under-medium);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .location img {
    width: 14px;
  }
  .popular-events .card-horizental-container .card-container .card .details .row .location span {
    font-size: var(--sz-under-medium);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .price span {
    font-size: var(--sz-under-medium);
  }
  .event-categories .category-horizental-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    overflow: unset;
    padding: 0 0 1.2rem 0;
  }
  .event-categories .category-horizental-container .category {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 20px;
    font-size: var(--sz-under-medium);
    gap: 9px;
  }
  .join {
    padding: 40px 10rem;
    background: var(--color-theme-light);
  }
  .join .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 13rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
  }
  .join .option h2 {
    font-size: var(--sz-large);
  }
}

@media screen and (min-width: 1088px) {
  .popular-events .card-horizental-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */